body{
    padding:0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.scrollingcontainer{
    overflow: auto;
    width:100%;
    height:80vh;
    margin-left:10%;
    margin-right:20%;
}

#message-container div{
    background-color:#ccc;
    padding:5px;
}
#message-container div:nth-child(2n){
    background-color: #fff;
}
#send-container{
    width:100vw;
    position: fixed;
    bottom:8%;
    left:0px;
}
#send-container input{
    width: 65%;
    height:10vh;
    margin-left: 10%;
}
#send-container button{
    height:10vh;

}
